body {
  background-color: pink;
}

main {
  max-width: 1000px;
  margin: 25px auto;
  background-color: white;
  border-radius: 10px;
  padding: 1px;
}

main div img {
  max-width: 948px;
  padding: 15;
  margin: 25px;
  border-radius: 10px;
  object-fit: cover;
}

h1 {
  font-family: "DM Serif Display";
  color: #6b193b;
  margin: 25px;
}

p {
  padding: 25px;
  font-family: "DM sans";
  color: #6b193b;
}

#timer {
  padding: 10px;
  border-radius: 5px;
}

.recipe {
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

div h2 {
  font-family: "DM Serif Display";
  color: #6b193b;
  margin: 5px;
}

div p {
  padding: 0;
  margin: 5px;
}

li {
  padding: 2px;
  font-family: "DM sans";
  color: #6b193b;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
tr {
    margin-bottom: 15px;
  border-bottom: 1px solid;
  padding: 25px;
  font-family: "DM sans";
  color: #6b193b;
}

td {
    text-align: left;
    padding: 10px 8px;
}